/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

*,*::before,*:after{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

/* start */

body{
    font-family: 'San Francisco',"PingFangSC", Helvetica,Arial,"Microsoft JhengHei",sans-serif;
    line-height: 1.5;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.wrap{
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    display: flex;
    margin: 0 auto;
    width: 58%;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
}

.menu-mobile{
    display: none;
}

.menu-mobile-btn{
    display: none;
}

.header h1 a{
    display: block;
    width: 128px;
    height: 38px;
    background: url(./img/d’Perfume.png) no-repeat ;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}

.menu-pc{
    display: flex;
    gap: 32px;
}

.menu-pc a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;line-height: 1.5;
    color: #8D8D8D;
    text-decoration: none;
}

.menu-pc a:hover{
    color: #916000;
}

/* brandIntro */

.brandIntro{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true) ;
    padding: 295px 0;
    background-size:auto 110%;
    background-repeat: no-repeat;
    background-position: right top;
}

.brandIntro-container{
    width: 58%;
    margin: 0 auto;
}

.brandIntro-items{
    width: 50%;
    margin-left: auto;
}

.brandIntro-items a{
    font-size: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px 109px;
    border: #FFFFFF 2px solid;
    border-radius: 30px;
    font-weight:500 ;
}

.brandIntro-items a:hover{
    background: #FFFFFF;
    color: #8D8D8D;
    opacity: 0.6;
}

.brandIntro-items h2{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
}

.brandIntro-items p{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

/* productIntro */
.productIntro{
    width: 58%;
    margin: 0 auto;
    padding: 60px 0;
}

.productIntro-item{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:10%;
}

.productIntro-item-content{
    width: 35%;
}

.productIntro-item-pic{
    width: 50%;
}

.productIntro-item-content h3{
    font-size: 32px;
    font-weight: bold;
}

.productIntro-item-content p{
    font-size: 20px;
    margin-bottom: 16px;
}

.productIntro-item-content a{
    font-size:16px;
    line-height: 24px;
    color:#AC8A46;
    text-decoration: none;
    font-weight: 700;
}

.productIntro-item-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap:10%;
}

.productIntro-feature{
    width: 35%;
}

.productIntro-feature-pic{
    width: 50%;
    overflow: hidden;
}

.productIntro-feature-pic img{
    height: 1080px;
    width: 100%;
}

.productIntro-feature-item{
    margin-bottom: 52px;
}

.productIntro-feature-item h3{
    font-size: 24px;
    font-weight: bold;
}

.productIntro-feature-item p{
    font-size: 16px;
}

.productIntro-feature a{
    margin-top: 60px;
    font-size: 20px;
    display: block;
    padding: 18px 0;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    border: #000000 solid 2px;
    color: #000000;
    text-decoration: none;
}

.productIntro-feature a:hover{
    background: #F2F2F2;
}

.popularProducts-bg{
    background: #E0E0E0;
}

/* popularProducts */
.popularProducts{
    width: 58%;
    margin: 0 auto;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

.popularProducts-item{
    width:32%;
}

.popularProducts-item img{
    width:100%;
    height: 540px;
}

.popularProducts-item h4{
    font-size: 24px;
    font-weight: bold;
}

.popularProducts-item p{
    font-size: 16px;
    margin-bottom: 16px;
}

.price{
    display: flex;
    font-size: 16px;
}

.price .now{
    margin-right: 8px;
}

.price .original{
    color: #8D8D8D;
    text-decoration:line-through;
}

/* bottleRecycling */
.bottleRecycling{
    width: 58%;
    margin: 0 auto;
    display: flex;
    padding:60px 0;
    gap:30px;
    align-items: center;
}
.bottleRecycling img{
    width: 65%;
}

.bottleRecycling-item h3{
    font-size: 32px;
    font-weight: bold;
}

.bottleRecycling-item h4{
    font-size: 20px;
    margin-bottom: 16px;
}

.bottleRecycling-item p{
    font-size: 16px;
    margin-bottom: 16px;
}

.bottleRecycling-item a{
    font-size: 16px;
    color: #AC8A46;
    text-decoration: none;
    font-weight: bold;
}

/* Subscribe */
.Subscribe-bg{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true);
    background-size: 100% auto;
    background-position:center;
}

.Subscribe{
    width: 58%;
    margin: 0 auto;
    padding: 312px 0 112px 0;
}

.Subscribe-item h3{
    font-size: 32px;
    color: #8D8D8D;
    font-weight: bold;
}

.Subscribe-item form{
    width: 40%;
    display: inline-block;
    background: #916000;
    border: #916000 solid 2px;
    border-radius: 4px;
}

.keyIn{
    background: #FFFFFF;
    font-size: 16px;
    color:#8D8D8D;
    border: none;
    width: 70%;
    padding: 21px 0px 21px 16px;
    border: #916000 solid 2px;
    border-radius: 4px;
}

.keyIn:focus,.keyIn:active{
    background: #FFFFFF;
    font-size: 16px;
    color:#8D8D8D;
    border: none;
    border: #916000 solid 2px;
    border-radius: 4px;
}

.sent{
    background-color: #916000;
    border: #916000 solid 2px;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 21px 0px;
    width: 30%;
}

.sent:hover{
    background-color: #6C4700;
    border: #6C4700 solid 2px;
}

/* footer */
.footer-bg{
    background: #916000;
}

.footer{
    padding: 32px 0;
    width: 58%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footerLogo{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.footerLogo img{
    width: 128px;
    height: 38px;
}

.footerLogo p{
    font-size: 14px;
    color: #FFFFFF;
}

.footerMenu{
    display: flex;
    gap:36px;
}

.footerMenu a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width:400px) {
    .menu-pc{
        display: none;
    }

    .header{
        position: relative;
        width: 100%;
    }

    .header h1{
        margin-left: 20px;
    }

    .menu-mobile-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:19px;

    }

    .menu-mobile-btn-open{
        background: none;
        border: none;
        color: #8D8D8D;
    }

    .shoppingCart-mobile{
        display: block;
        position: relative;
        color: #8D8D8D;
    }

    .menu-mobile{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .menu-mobile li{
        text-align: center;
    }

    .menu-mobile a{
        display: block;
        padding:16px 0;
        font-size: 20px;
        line-height: 1.5;
        background-color: #707070;
        color: #FFFFFF;
        border-top: #FFFFFF solid 3px;
        text-decoration: none;
        z-index: 10;
    }

    .wantBuy{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        font-size: 12px;
        width:16px;
        height: 13px;
        text-align: center;
        background: #916000;
        border-radius: 7px;
        color: #FFFFFF;
    }

    /* brandIntro */

.brandIntro{
    background-position: 15%;
    padding: 0;
}

.brandIntro-container{
    width: 100%;
    padding: 101px 15px 135px 15px;
}

.brandIntro-items{
    width:100%;
}

.brandIntro-items a{
    padding: 13px 106.5px;
}

.brandIntro-items h2{
    font-size: 32px;
}

.brandIntro-items p{
    font-size: 20px;
    line-height: 1.5;
}

/* productIntro */
.productIntro{
    width: 100%;
    padding: 40px 15px;
}

.productIntro-item{
    flex-direction: column-reverse;
    justify-content: center;
    gap:8px;
    margin-bottom: 32px;
}

.productIntro-item-content{
    width: 100%;
}

.productIntro-item-pic{
    width: 100%;
}

.productIntro-item-content p{
    margin-bottom: 8px;
}

.productIntro-item-reverse{
    flex-direction: column-reverse;
    justify-content: center;
    gap:8px;
    margin-bottom: 32px;
}

.productIntro-feature{
    width: 100%;
}

.productIntro-feature-pic{
    width: 100%;
    margin-bottom: 8px;
}

.productIntro-feature-pic img{
    height: 680px;
    width: 100%;
}

.productIntro-feature-item{
    margin-bottom: 20px;
}

.productIntro-feature a{
    margin-top: 20px;
}

/* popularProducts */
.popularProducts{
    width: 100%;
    flex-direction: column;
    padding: 32px 15px 36px 15px;
    justify-content:center;
}

.popularProducts-item{
    width:100%;
    margin-bottom: 32px;
}

.popularProducts-item img{
    width:100%;
    height: 350px;
    margin-bottom: 8px;
}

.popularProducts-item p{
    margin-bottom: 4px;
}

.price .now{
    margin-right: 6px;
}

/* bottleRecycling */
.bottleRecycling{
    width: 100%;
    flex-direction: column;
    padding:40px 15px;
    gap:8px;
    align-items: center;
}
.bottleRecycling img{
    width: 100%;
}

.bottleRecycling-item h4{
    margin-bottom: 8px;
}

.bottleRecycling-item p{
    margin-bottom: 8px;
}

/* Subscribe */
.Subscribe-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Subscribe{
    width: 100%;
    padding: 312px 15px 112px 15px;
}

.Subscribe-item h3{
    margin-bottom: 20px;
}

.Subscribe-item form{
    width: 100%;
    display: inline-block;
    background: #916000;
    border: #916000 solid 2px;
    border-radius: 4px;
}

.footer-bg{
    background: #916000;
}

.footer{
    width: 100%;
    padding: 32px 15px;
    display: block;
}

.footerLogo{
    justify-content:space-between;
}

.footerMenu{
    display: none;
}

}